* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;
}

:root {
    font-size: 10px;
    --black: 0, 0, 0;
    --brown-light: 240, 165, 0;
    --brown: 207, 117, 0;
    --silver: 219, 219, 219;
    --silver-dark: 244, 244, 244;
}

body {
    background-image: url(assets/bak.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

header {
    height: 100vh;
    width: 33vw;

}

.icon {
    width: 3rem;
}


header>p:first-child {
    font-weight: bold;
    font-size: 5rem;
    color: rgb(var(--brown-light));
    background-color: rgba(0, 0, 0, 0.479);
    margin-top: 50vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

header>a {
    color: rgb(var(--silver));
    font-size: 2rem;
    position: fixed;
    top: 0.5rem;
    left: 14%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: rgba(0, 0, 0, 0.516);
    padding: 1rem;
    border-radius: 50px;
    font-weight: lighter;
}

header>a:hover {
    color: rgb(var(--brown));
    transform: translateY(0.5rem);
    scale: 1.1;
    text-shadow: 0 0 50px rgb(var(--silver));
    background-color: rgba(0, 0, 0, 0);
}



main {
    height: 100vh;
    width: 67vw;
    background-color: rgb(var(--black), 0.97);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 -10px 50px -20px rgb(var(--brown-light));
}

.taurus-div {
    filter: drop-shadow(0px 0px 10px rgb(var(--brown-light)));
    transition: 1s ease-in-out all;
    position: relative;

}

.taurus-icon {
    width: 20rem;
    height: 20rem;
    color: rgb(var(--brown-light));
    position: absolute;
    left: -10vw;

}

.taurus-div:hover {
    filter: drop-shadow(0px 0px 10px rgb(var(--silver)));
    text-shadow: 0 0 1px rgb(var(--silver));
}

.taurus-letter {
    font-size: 7rem;
    font-weight: -100;
    color: rgba(192, 192, 192, 0.295);
    position: absolute;
    top: 150px;
    left: -10vw;
    font-family: 'Great Vibes', cursive;
}