* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;
}

:root {
    font-size: 10px;
    --black: 0, 0, 0;
    --brown-light: 240, 165, 0;
    --brown: 207, 117, 0;
    --silver: 219, 219, 219;
    --silver-dark: 244, 244, 244;
}

body {
    background: url(assets/bak.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

header {
    height: 100vh;
    width: 33vw;

}

.icon {
    width: 3rem;
}


header>p:first-child {
    font-weight: bold;
    font-size: 5rem;
    color: rgb(var(--brown-light));
    background-color: rgba(0, 0, 0, 0.479);
    margin-top: 50vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

header>a {
    color: rgb(var(--silver));
    font-size: 2rem;
    position: fixed;
    top: 0.5rem;
    left: 14%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: rgba(0, 0, 0, 0.516);
    padding: 1rem;
    border-radius: 50px;
    font-weight: lighter;
}

header>a:hover {
    color: rgb(var(--brown));
    transform: translateY(0.5rem);
    scale: 1.1;
    text-shadow: 0 0 50px rgb(var(--silver));
    background-color: rgba(0, 0, 0, 0);
}



main {
    height: 100vh;
    width: 67vw;
    background-color: rgb(var(--black));
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 40px -20px rgb(var(--brown-light));
}

span,p,input,button{
    
    font-family: 'Great Vibes', cursive;
}

.taurus-div {
    filter: drop-shadow(0px 0px 10px rgb(var(--brown-light)));
    transition: 1s ease-in-out all;
    position: relative;
    display: flex;
    justify-content: center;
}

.taurus-icon {
    width: 15rem;
    height: 15rem;
    color: rgb(var(--brown-light));
    position: absolute;
}

.taurus-div:hover {
    filter: drop-shadow(0px 0px 10px rgb(var(--silver)));
    text-shadow: 0 0 1px rgb(var(--silver));
}

.taurus-letter {
    font-size: 6rem;
    color: rgba(192, 192, 192, 0.295);
    position: absolute;
    top: 11rem;
    margin-right: 3rem;
    font-family: 'Great Vibes', cursive;
}

.inputs{
    border: 2px solid  rgb(var(--silver),0.05);
    border-radius: 25px;
    width: 45vw;
    height: 60vh;
    margin: 20rem auto 2rem;
    background-color: rgb(var(--brown-light),0.05);
    box-shadow: 0 0 10px 1px rgb(var(--silver));
    transition: all 1s ease-in-out;
}

.inputs:hover{
    border: 2px solid  rgb(var(--brown-light),0.1);
    background-color: rgb(var(--silver),0.05);
    box-shadow: 0 0 10px 1px rgb(var(--brown-light));
    cursor: pointer;
    scale: 1.01;
}

.last-items{
    font-size: 2.5rem;
    color: rgb(var(--silver));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    font-size: 2.5rem;
    color: rgb(var(--brown-light));
    background-color: rgba(var(--silver),0.1);
    padding: 0.4rem 1rem 0rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgb(var(--brown-light));
    transition: all 0.3s ease-in-out;
}

button:hover{
    box-shadow: 0 0 10px 1px rgb(var(--silver));
    cursor: pointer;
}

span{
    color: rgb(var(--brown-light));
    transition: all 0.3s ease-in-out;
}

span:hover{
    text-shadow: 0 0 5px rgb(var(--silver)), 0 0 10px rgb(var(--silver));
    cursor: pointer;
}

